/.vscode
/.idea
/build
/saved_builds
/.vs
_codeql_detected_source_root
*.sln
*.vcxproj*
/balatro-gba/x64/**
/tests/bitset/build
/tests/list/build
/tests/pool/build
doc
tests/util/.vscode
tests/util/build
tests_e2e/node_modules/
tests_e2e/output/
audio/*.bak
